<!--<div class="fullscreen-bg">
	<video loop muted autoplay poster="assets/img/bg-kolaj-poster-c60.jpg" class="fullscreen-bg__video">
		<source src="assets/video/bg-kolaj.webm" type="video/webm">
		<source src="assets/video/bg-kolaj.mp4" type="video/mp4">
		<source src="assets/video/bg-kolaj.ogv" type="video/ogg">
	</video>
</div>
-->
<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
      <img class="logo" src="assets/img/kalyon_pv.svg" alt="logo">
      <h2>Giriş</h2>
      <mat-error *ngIf="loginInvalid">
        Kullanıcı adınız veya şifreniz yanlış
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-icon matPrefix>person_outline</mat-icon>
          <input matInput placeholder="Kullanıcı adı" formControlName="username" required>
          <mat-error>
            Kullanıcı adınızı giriniz
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-icon matPrefix>key_outline</mat-icon>
        <input matInput type="password" placeholder="Şifre" formControlName="password" required>
        <mat-error>
          Şifrenizi giriniz
        </mat-error>
      </mat-form-field>
      <div class="btn">
        <button mat-raised-button color="primary">Login</button>
      </div>
      <div class="link">
        <a href="#">
          <mat-hint>Şifremi unuttum</mat-hint>
        </a>
        <a routerLink="/register" routerLinkActive="active">
          <mat-hint>Kayıt olmak istiyorum</mat-hint>
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>